
/** $VER: Resources.rc (2024.07.05) P. Stuer **/

#include "Resources.h"

#include <winres.h>

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

VS_VERSION_INFO versioninfo
fileversion     NUM_FILE_MAJOR,    NUM_FILE_MINOR,    NUM_FILE_PATCH,    NUM_FILE_PRERELEASE
productversion  NUM_PRODUCT_MAJOR, NUM_PRODUCT_MINOR, NUM_PRODUCT_PATCH, NUM_PRODUCT_PRERELEASE
fileflagsmask   0x3FL
#ifdef _DEBUG
fileflags       VS_FF_DEBUG
#else
fileflags       0
#endif
fileos          VOS_NT_WINDOWS32
filetype        VFT_DLL
filesubtype     VFT2_UNKNOWN
{
    block "StringFileInfo"
    {
        block "040904E4" // U.S. English, Multilingual character set
        {
            value "FileVersion",      STR_FILE_VERSION     "\0"
            value "FileDescription",  STR_FILE_DESCRIPTION "\0"
            value "LegalCopyright",   STR_COPYRIGHT        "\0"
            value "LegalTrademarks",                       "\0"
            value "Comments",         STR_COMMENTS         "\0"
            value "CompanyName",      STR_COMPANY_NAME     "\0"
            value "InternalName",     STR_INTERNAL_NAME    "\0"
            value "OriginalFilename", STR_FILE_NAME        "\0"
            value "ProductName",      STR_PRODUCT_NAME     "\0"
            value "ProductVersion",   STR_PRODUCT_VERSION  "\0"
        }
    }

    block "VarFileInfo"
    {
        value "Translation", 0x409, 1252    // U.S. English, Multilingual character set
    }
}

#include "PreferencesLayout.h"

IDD_PREFERENCES dialogex 0, 0, 0, 0
style DS_SETFONT | WS_CHILD
font 8, "Segoe UI", 400, 0, 1
{
    rtext       "Name:",                    IDC_STATIC,                         X_D11, Y_D11 + 2, W_D11, H_D11
    edittext                                IDC_NAME,                           X_D12, Y_D12,     W_D12, H_D12, ES_AUTOHSCROLL

    ltext       "User data folder path",    IDC_STATIC,                         X_D13, Y_D13 + 2, W_D13, H_D13
    edittext                                IDC_USER_DATA_FOLDER_PATH,          X_D14, Y_D14,     W_D14, H_D14, ES_AUTOHSCROLL
    pushbutton  "...",                      IDC_USER_DATA_FOLDER_PATH_SELECT,   X_D15, Y_D15,     W_D15, H_D15

    ltext       "Template file path",       IDC_STATIC,                         X_D16, Y_D16 + 2, W_D16, H_D16
    edittext                                IDC_FILE_PATH,                      X_D17, Y_D17,     W_D17, H_D17, ES_AUTOHSCROLL
    pushbutton  "...",                      IDC_FILE_PATH_SELECT,               X_D18, Y_D18,     W_D18, H_D18
    pushbutton  "&Edit",                    IDC_FILE_PATH_EDIT,                 X_D19, Y_D19,     W_D19, H_D19

    rtext       "Window size:",             IDC_STATIC,                         X_D20, Y_D20 + 2, W_D20, H_D20
    edittext                                IDC_WINDOW_SIZE,                    X_D21, Y_D21,     W_D21, H_D21, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
    combobox                                IDC_WINDOW_SIZE_UNIT,               X_D22, Y_D22,     W_D22, H_D22, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    rtext       "Reaction alignment:"       IDC_STATIC,                         X_D23, Y_D23 + 2, W_D23, H_D23
    edittext                                IDC_REACTION_ALIGNMENT              X_D24, Y_D24,     W_D24, H_D24, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
    ltext       "",                         IDC_WINDOW_OFFSET,                  X_D25, Y_D25 + 2, W_D25, H_D25
}

IDR_CONTEXT_MENU_ICON rcdata "Main.ico"

1 typelib "foo_uie_webview.tlb"
